html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}/*
1
css browser reset stylesheetCSS By Good Gerbil on Jan 27 2021
 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
de



body {
    margin:0;
    padding: 0;
}
.collapse {
    background-color: rgba(120,120,120,0.001);
}

header {
    width:100vw;
}
.mainImage {
    height:100vh;
}
nav {
    position: absolute;
    background-color:#9f001f;
    top :0;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    padding:10px;
    margin-top:10px;
    margin-left:5%;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    margin-right:10px;
    padding :0 20px ;
    margin-top:10px;
}

.nav-link-white {
    color: white;
}
.nav-link-black {
    color : black;
}

h3 .vr {
    writing-mode: vertical-lr;
    -webkit-transform: rotate(
            0deg
    );
    -ms-transform: rotate(0deg);
    transform: rotate(
            0deg
    );
    text-orientation: sideways;
    text-align: center;
    text-orientation: sideways;
    margin: 0;
    position: fixed;
    top: 0;
    right: 20px;
    height: 100%;
    font-family: roboto condensed,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 18px;
    z-index: 1;
}

.big {
    font-family: lato,Arial,sans-serif;
    font-size: 100px;
    color: rgba(0,0,0,.04);
    font-weight: 900;
    letter-spacing: 1px;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    top : -70px;
    position: relative;
    text-transform: uppercase;
    font-family: roboto condensed,Arial,sans-serif;
    letter-spacing: 6px;
}

header {
  background-color: white;
}

.text {
    position: absolute;
    width:30vw;
    font-size:64px;
    color:white;
    top:35%;
    left :42%;
}



@media only screen and (max-width: 1200px) {
    .text {
        position: absolute;
        width:30vw;
        font-size:64px;
        color:white;
        top:35%;
        left :20%;
    }

    .navbar-brand {
        font-family: 'Montserrat', sans-serif;
        padding:40px;
        margin-top:40px;
        margin-left:2%;
    }

    .mainImage {
      position: center;
      margin-left: -120px;
    }

    .pink {
        width: 100%;
        overflow: hidden;
    }
    .nav-link-black {
        color : white;
    }


}


.heading {
    font-size: 100px;
}
